<%= render "shared/header" %>



                <%=link_to '悩み投稿', new_worry_path , class:"back-btn" %>

  <div class='contents-main'>

<div class="worry-pucup">

    <h2 class='worry-title'>     悩み一覧</h2>
    <%# <div class="subtitle" >
      悩み一覧
    </div> %>


                              <ul class='item-lists'>

      <% @worries.reverse.each do |worry| %>
            <li class='worry-list'>

                          <%# if worry.status == 0 %>


<div class="worry-main">

 <%= link_to worry_path(worry.id) , class:"problem-main" do %>

<div class="worry-title2">
    <%# <h2 class="name"> %>
      <%= worry.title %>
    <%# </h2> %>
    </div>
                        <% end %>

<div class="problem-main2">
      <%= worry.problem.truncate(10) %>
</div>

<p class="problem-main3">
      <%= worry.created_at %>
</p>

<p class="problem-main4">
      <%= worry.user.nickname %>
</p>

</div>
          <%# end %>

       </li>
              <% end %>
                  </ul>

                  </div>

<div class="diary-pucup">
                  </div>

                  </div>
