<header class='top-page-header'>
  <div class='search-bar-contents'>

        <%=link_to 'LGBTQ+sns', indexmain_worry_path(current_user) , class:"back-btn" %>
  
    <form class="search-form" action="#">
      <input class='input-box' placeholder='検索機能、今後実装予定。'>
      <button class="search-button">

      </button>
    </form>
  </div>
  <div class='nav'>
                <%=link_to '悩み投稿', new_worry_path , class:"back-btn" %>
    <ul class='lists-right'>
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
          </ul>
  </div>
</header>


  <div class="clover-svg">



  <div class='contents-main'>

<div class="worry-pucup">



    <h2 class='worry-title'>     みんなの悩み</h2>
    <%# <div class="subtitle" >
      悩み一覧
    </div> %>


                              <ul class='item-lists'>

      <% @worries.reverse.each do |worry| %>
            <li class='worry-list'>

                          <%# if worry.status == 0 %>


<div class="worry-main">

 <%= link_to worry_path(worry.id) , class:"problem-main" do %>

<div class="worry-title2">
    <%# <h2 class="name"> %>
      <%= worry.title.truncate(15) %>
    <%# </h2> %>
    </div>
                        <% end %>

<div class="problem-main2">
      <%= worry.problem.truncate(70) %>
</div>

<p class="problem-main3">
      <%= worry.created_at %>
</p>

<p class="problem-main4">
      <%= worry.user.nickname %>
</p>

</div>
          <%# end %>

       </li>
              <% end %>
                  </ul>

                  </div>

<div class="diary-pucup">
    <h2 class='worry-title'>     みんなの日記</h2>

                  </div>

                  </div>


</div>