<header class="header">
  <h1 class="lgbtq">LGBTQ+sns</h1>
    <div class="video-area">
  <%# <video id="video" poster="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-3-1/img/movie.jpg" webkit-playsinline playsinline muted autoplay loop> %>
  <%= video_tag "production ID_4772299.mp4", autoplay: true, loop: true, muted: true, class: 'video' %>
  </video>
    <!--/video-area--></div>

<%= form_with model: @user, url: user_session_path,class: '#', local: true do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "Log in",class: 'btn-gradient-3d' %>
  </div>
<% end %>
</header>

<div class="advertisement">
<%# <p class="scrollanime">フェードイン</p> %>
<div class="topinfo1">
<div class="scrollanime">
<%= video_tag "pexels-pavel-danilyuk-8451631.mp4", autoplay: true, loop: true, muted: true, class: 'video1' %>
</div>
<div class="topinfotext1">
<div class="scrollanime">
<h1 class="infotitle1">認める、繋がる、虹が架かる。</h1>
<p class="infotext">自分を認めてあげよう、あなたは一人じゃない。ありのままに差別されることなく自由に生きていける世界を。世界中に理解の虹を架けていこう。</p>
</div>
</div>
</div>

<div class="topinfo1">
<div class="topinfotext1">
<div class="scrollanime">
<h1 class="infotitle1">目指すは多様性のある幸せな世界</h1>
<p class="infotext">愛に性別は関係ない。好きになっていいんだよ。自由に恋をしよう。変なことなんて一つもない。多様性を認め合える社会に。</p>
</div>
</div>
<div class="scrollanime">
<%= video_tag "pexels-rodnae-productions-8734988.mp4", autoplay: true, loop: true, muted: true, class: 'video2' %>
</div>
</div>


<div class="topinfo1">
<div class="scrollanime">
<h1 class="infotitle3">LGBTQ+snsから広がる未来へ</h1>
<p class="infotext">LGBTQとは、Lesbian（レズビアン、女性同性愛者）、Gay（ゲイ、男性同性愛者）、Bisexual（バイセクシュアル、両性愛者）、Transgender（トランスジェンダー、生まれた時の性別と自認する性別が一致しない人）、QueerやQuestioning（クイアやクエスチョニング、自分自身のセクシュアリティを決められない、分からない、または決めない人）の頭文字をとった言葉で、性的マイノリティを表す総称のひとつです。</p>
<p class="infotext">アメリカのFacebookには58種類の性別があります。大切なことは、性には多様性があることをあらためて考えることです。</p>
<p class="infotext">実はとても身近な存在で、ある調査では日本のLGBTQの割合は8.9％、左利きの人同じくらいの割合で存在しています。学校のクラスに少なくとも一人は確実に存在する割合であるにも関わらず、悲しいことにまだ理解されずに差別がある事も事実です。</p>
<p class="infotext">差別的な言葉で傷ついた人もたくさんいると思います。自分はおかしいのではないかと悩んだ人も多いと思います。他人に認めてもらえず、自分で自分を認められなくなってしまった人もいます。</p>
<p class="infotext">一人で悩まないで欲しい、仲間がいるとして知って欲しい。無理してカミングアウトする必要もない。必ず理解してくれる人がいる。</p>
<p class="infotext">このアプリの目的はただ一つ</p>
<h1 class="infotitle2">「仲間がいるよ」</h1>
<%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
<p class="infotext"></p>

</div>
</div>
<%# <p class="scrollanime updown">上から下へフェードイン</p> %>
<%# <div class="scrollanime updown"> %>
<%#= video_tag "production ID_4772299.mp4", autoplay: true, loop: true, muted: true, class: 'video' %>
<%# </div> %>

</div>

