    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @worry,local: true do |f| %>

       <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :problem, class:"items-text",  placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,maxlength:"1000" %>
      </div>
    </div>

  <%= f.select :status, Worry.statuses.keys.map { |k| [t("enums.worry.status.#{k}"),k]}, {}, {class: "custom-select w-25"} %>
    <%= f.select :situation, Worry.situations.keys.map { |k| [t("enums.worry.situation.#{k}"),k]}, {}, {class: "custom-select w-25"} %>



        <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', indexmain_worry_path(current_user) , class:"back-btn" %>
    </div>
      <% end %>