<!DOCTYPE html>
<html>
  <head>
    <title>LGBTQ+</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
        <picture>
        <source media="(max-width: 480px)" srcset="sp.jpg"> 
        <source media="(max-width: 768px)" srcset="ipad.jpeg">
        <img src="test.png" alt=""> 
      </picture>
  </body>
</html>
