<!DOCTYPE html>
<html>
  <head>
    <title>LGBTQ+</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body>
    <%= yield %>
        <picture>
        <source media="(max-width: 480px)" srcset="sp.jpg"> 
        <source media="(max-width: 768px)" srcset="ipad.jpeg">
        <img src="test.png" alt=""> 
      </picture>
  </body>
</html>
